@font-face {
    font-family: karla;
    src: url(https://fonts.google.com/specimen/Karla);
}
html{
    font-size: 100%;
}
body{
    background-color:  hsl(204, 43%, 93%);
    font-size: 16px;
    font-family: karla;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    margin: 10%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 500px;
}
.box{
    border: 1px solid red;
}